{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'about/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'about/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'about/style.css' %}" />
  </head>
  <body>
    <div class="about-page">
      <div class="section">
        <div class="frame">
          <div class="nav-bar">
            <div class="logo"><div class="text-wrapper">Bliss Cafe</div></div>
            <div class="site-links">
              <div class="div">Home</div>
              <div class="div">Menu</div>
              <div class="div">Contact</div>
              <div class="text-wrapper-2">About</div>
              <div class="text-wrapper-2">Team</div>
            </div>
            <div class="left-nav">
              <img
                class="vector"
                src="https://c.animaapp.com/VqlikEZg/img/vector.svg"
              />
              <div class="div">Find A Store</div>
            </div>
          </div>
          <div class="text-wrapper-3">About Us</div>
        </div>
        <div class="frame-2">
          <div class="text-wrapper-4">Our Story</div>
          <p class="lorem-ipsum-dolor">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
            sodales&nbsp;&nbsp;ipsum et metus condimentum auctor. Curabitur
            fringilla tortor arcu, non&nbsp;&nbsp;tristique eros congue vitae.
            Pellentesque habitant morbi tristique&nbsp;&nbsp;senectus et netus
            et malesuada fames ac turpis egestas. Aenean rutrum&nbsp;&nbsp;ante
            id ipsum auctor iaculis.
          </p>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="text-wrapper-5">Bliss Caffe</div>
            <div class="rectangle"></div>
          </div>
        </div>
      </div>
      <div class="frame-wrapper">
        <div class="frame-4">
          <p class="GOOD-IDEA-STARTS">
            “GOOD IDEA STARTS WITH BRAINSTORMING<br />GREAT IDEAS START WITH
            COFFEE”
          </p>
          <div class="frame-5">
            <div class="rectangle-2"></div>
            <div class="f-BRAUN">F. BRAUN</div>
            <div class="rectangle-2"></div>
          </div>
        </div>
      </div>
      <div class="section-2">
        <div class="text-wrapper-6">Our Founders</div>
        <div class="frame-6">
          <div class="founder-image">
            <img
              class="img"
              src="https://c.animaapp.com/VqlikEZg/img/rectangle-22.svg"
            />
            <div class="frame-7">
              <div class="text-wrapper-7">Natalie Ann</div>
              <div class="text-wrapper-8">Executive</div>
              <img
                class="img-2"
                src="https://c.animaapp.com/VqlikEZg/img/socials-2.svg"
              />
            </div>
          </div>
          <div class="founder-image">
            <img
              class="img"
              src="https://c.animaapp.com/VqlikEZg/img/rectangle-22-1.svg"
            />
            <div class="frame-7">
              <div class="text-wrapper-7">Rose Adams</div>
              <div class="text-wrapper-8">C.E.O</div>
              <img
                class="img-2"
                src="https://c.animaapp.com/VqlikEZg/img/socials-2.svg"
              />
            </div>
          </div>
          <div class="founder-image">
            <img
              class="img"
              src="https://c.animaapp.com/VqlikEZg/img/rectangle-22-2.svg"
            />
            <div class="frame-7">
              <div class="text-wrapper-7">Roy Mworia</div>
              <div class="text-wrapper-8">Executive</div>
              <img
                class="img-2"
                src="https://c.animaapp.com/VqlikEZg/img/socials-2.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="frame-8">
          <div class="text-wrapper-9">Bliss Cafe</div>
          <div class="frame-9">
            <div class="text-wrapper-10">Privacy</div>
            <div class="text-wrapper-11">Privacy Priority</div>
            <div class="text-wrapper-12">Protecting Information</div>
            <div class="text-wrapper-13">Improving Experience</div>
            <div class="text-wrapper-14">No Data Sharing</div>
          </div>
          <div class="frame-9">
            <div class="text-wrapper-10">Services</div>
            <div class="text-wrapper-15">Free wifi</div>
            <div class="text-wrapper-15">Specialty coffee</div>
            <div class="text-wrapper-15">Delicious bites</div>
            <div class="text-wrapper-15">Catering</div>
          </div>
          <div class="frame-9">
            <div class="text-wrapper-10">About</div>
            <div class="text-wrapper-16">Community Hub</div>
            <div class="text-wrapper-17">Great Coffee</div>
            <div class="text-wrapper-18">Memorable Moments</div>
            <div class="text-wrapper-19">Top-notch Baristas</div>
            <div class="text-wrapper-20">Welcoming Vibe</div>
          </div>
          <div class="frame-9">
            <div class="information">Information</div>
            <div class="text-wrapper-15">Opening hours</div>
            <div class="text-wrapper-21">Payment methods</div>
            <div class="text-wrapper-15">Cafe location</div>
            <div class="text-wrapper-15">Loyalty program</div>
            <div class="text-wrapper-15">Dietary options</div>
          </div>
          <div class="frame-10">
            <div class="text-wrapper-10">Social Media</div>
            <img
              class="img-2"
              src="https://c.animaapp.com/VqlikEZg/img/frame-14.svg"
            />
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
