{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'globals.css' %}" />
    <link rel="stylesheet" href="{% static 'styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'contacts/style.css' %}" />
  </head>
  <body>
    <div class="contact-page">
      <div class="frame">
        <div class="nav-bar">
          <div class="logo"><div class="text-wrapper">Bliss Cafe</div></div>
          <div class="site-links">
            <div class="div">Home</div>
            <div class="div">Menu</div>
            <div class="div">Contact</div>
            <div class="text-wrapper-2">About</div>
            <div class="text-wrapper-2">Team</div>
          </div>
          <div class="left-nav">
            <img
              class="vector"
              src="https://c.animaapp.com/KE5xh4eU/img/vector.svg"
            />
            <div class="div">Find A Store</div>
          </div>
        </div>
        <div class="text-wrapper-3">Contact Us</div>
        <div class="frame-2">
          <div class="frame-3">
            <img
              class="img"
              src="https://c.animaapp.com/KE5xh4eU/img/vector-1.svg"
            />
            <div class="text-wrapper-4">+254 74 200 000</div>
            <div class="text-wrapper-5">
              Got questions? We’re always here to chat over a cup of <br />coffee.
            </div>
          </div>
          <div class="rectangle"></div>
          <div class="frame-3">
            <img
              class="img"
              src="https://c.animaapp.com/KE5xh4eU/img/vector-2.svg"
            />
            <div class="text-wrapper-4">blisscafe@gmail.com</div>
            <div class="text-wrapper-5">
              Shoot us an email here. <br />We’re brewing up some <br />great conversations!
            </div>
          </div>
          <div class="rectangle"></div>
          <div class="frame-4">
            <img
              class="search-location"
              src="https://c.animaapp.com/KE5xh4eU/img/search-location.svg"
            />
            <div class="text-wrapper-4">Nairobi, Westlands</div>
            <p class="text-wrapper-5">
              Visit us and get to Sip, savor, and enjoy!
            </p>
          </div>
        </div>
      </div>
      <div class="frame-5">
        <div class="frame-6">
          <div class="frame-7">
            <div class="text-wrapper-6">Get In Touch!!</div>
            <div class="we-d-love-to-hear">
              We’d Love to Hear From You!<br />Whether you have questions about 
              our menu, need catering for your next event, or just want to chat about our 
              love for coffee, we’re here for you. <br />Drop us a message, give us a call, or visit us<br /> in person – we can’t wait to connect!
            </div>
          </div>
          <div class="frame-8">
            <input
              class="name"
              placeholder="&amp;nbsp;&amp;nbsp;Name"
              type="text"
            />
            <div class="div-wrapper">
              <div class="text-wrapper-7">&nbsp;&nbsp;Phone</div>
            </div>
            <div class="div-wrapper">
              <div class="text-wrapper-7">Email</div>
            </div>
            <div class="frame-9"><div class="text-wrapper-8">Message</div></div>
          </div>
        </div>
        <div class="frame-10"><div class="text-wrapper-9">Submit</div></div>
      </div>
      <footer class="footer">
        <div class="frame-11">
          <div class="text-wrapper-10">Bliss Cafe</div>
          <div class="frame-12">
            <div class="text-wrapper-11">Privacy</div>
            <div class="text-wrapper-12">Privacy Priority</div>
            <div class="text-wrapper-13">Protecting Information</div>
            <div class="text-wrapper-14">Improving Experience</div>
            <div class="text-wrapper-15">No Data Sharing</div>
          </div>
          <div class="frame-12">
            <div class="text-wrapper-11">Services</div>
            <div class="text-wrapper-16">Free wifi</div>
            <div class="text-wrapper-16">Specialty coffee</div>
            <div class="text-wrapper-16">Delicious bites</div>
            <div class="text-wrapper-16">Catering</div>
          </div>
          <div class="frame-12">
            <div class="text-wrapper-11">About</div>
            <div class="text-wrapper-17">Community Hub</div>
            <div class="text-wrapper-18">Great Coffee</div>
            <div class="text-wrapper-19">Memorable Moments</div>
            <div class="text-wrapper-20">Top-notch Baristas</div>
            <div class="text-wrapper-21">Welcoming Vibe</div>
          </div>
          <div class="frame-12">
            <div class="information">Information</div>
            <div class="text-wrapper-16">Opening hours</div>
            <div class="text-wrapper-22">Payment methods</div>
            <div class="text-wrapper-16">Cafe location</div>
            <div class="text-wrapper-16">Loyalty program</div>
            <div class="text-wrapper-16">Dietary options</div>
          </div>
          <div class="frame-13">
            <div class="text-wrapper-11">Social Media</div>
            <img
              class="frame-14"
              src="https://c.animaapp.com/KE5xh4eU/img/frame-14.svg"
            />
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
