{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="{% static 'assets/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/fontawesome/css/solid.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'globals.css' %}" />
    <link rel="stylesheet" href="{% static 'styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'home/style.css' %}" />
    <title>Bliss Cafe</title>
  </head>
  <body>
    <section class="hero">
      <nav>
        <p class="logo">Bliss cafe</p>
        <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/The-Team">The Team</a></li>
        </ul>
        <p class="find-store">  <i class="fa-solid fa-location-dot"></i> Find A Store</p>
      </nav>
      <header>
        <h1>Great Coffee</h1>
        <p class="hero-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, deleniti modi veritatis, et eligendi atque voluptatem libero beatae corporis qui laudantium amet sint voluptates enim aliquid iste vel? Assumenda, explicabo!</p>
        <button> <i class="fa-solid fa-mug-hot"></i>  Buy A Cup Today</button>
      </header>
    </section>
    <section class="menu">
      <div class="coffee-section">
        <h2>OUR SPECIAL COFFEE</h2>
        <div class="cards">
          {% for coffee in coffee_data %}
            <article class="coffee card">
              <img class="img" src="https://c.animaapp.com/eMNn26z6/img/unsplash-5prp-fvsi0q@2x.png" alt="Americano" />
              <h3>{{ coffee.title }}</h3>
                <p>{{ coffee.price }}</p>
                <button class="btn">Order</button>
            </article>
          {% endfor %}
        </div>
      </div>

      <div class="dessert-section">
        <h2>OUR SPECIAL DESSERT</h2>
        <div class="cards">
          {% for dessert in dessert_data %}
            <article class="dessert card">
              <img class="img" src="https://c.animaapp.com/eMNn26z6/img/unsplash-5prp-fvsi0q@2x.png" alt="Americano" />
              <h3>{{ dessert.title }}</h3>
                <p>{{ dessert.price }}</p>
                <button class="btn">Order</button>
            </article>
          {% endfor %}
        </div>
      </div>
    </section>
    <section class="sources">
        <div>
          <p class="our-coffee-beans-are">
            Our Coffee Beans<br />
            Are Sourced <br />from The Best Farms
          </p>
          <button>Visit Our Partners</button>
        </div>
    </section>
    <section class="testimonials">
      <h2>Our Happy Customers</h2>
      <div class="testimonials">
        <article class="testimonial">
            <div class="customer-header">
              <img class="ellipse" src="https://c.animaapp.com/eMNn26z6/img/ellipse-1.svg" alt="Nikita Kering’" />

              <div class="customer-details">

              <div class="stars">
                <i class="fa-solid fa-star" ></i>
                <i class="fa-solid fa-star" ></i>
                <i class="fa-solid fa-star" ></i>
                <i class="fa-solid fa-star" ></i>
                <i class="fa-solid fa-star" ></i>
              </div>
                <p class="customer-name">Nikita Kering’</p>
                <p class="customer-title">Kenyan Artist</p>
              </div>
            </div>

            <p class="testimonial-text">
              This is the best local coffee shop that offers the best of its kind, I ordered the Americano and it was superb. Why don’t you give it a try! You won’t regret.
            </p>
        </article>

        <article class="testimonial">
            <div class="customer-header">
              <img class="ellipse" src="https://c.animaapp.com/eMNn26z6/img/ellipse-1.svg" alt="Nikita Kering’" />

              <div class="customer-details">

              <div class="stars">
                <i class="fa-solid fa-star" ></i>
                <i class="fa-solid fa-star" ></i>
                <i class="fa-solid fa-star" ></i>
                <i class="fa-solid fa-star" ></i>
                <i class="fa-solid fa-star" ></i>
              </div>
                <p class="customer-name">Nikita Kering’</p>
                <p class="customer-title">Kenyan Artist</p>
              </div>
            </div>

            <p class="testimonial-text">
              This is the best local coffee shop that offers the best of its kind, I ordered the Americano and it was superb. Why don’t you give it a try! You won’t regret.
            </p>
        </article>
        <article class="testimonial">
            <div class="customer-header">
              <img class="ellipse" src="https://c.animaapp.com/eMNn26z6/img/ellipse-1.svg" alt="Nikita Kering’" />

              <div class="customer-details">

              <div class="stars">
                <i class="fa-solid fa-star" ></i>
                <i class="fa-solid fa-star" ></i>
                <i class="fa-solid fa-star" ></i>
                <i class="fa-solid fa-star" ></i>
                <i class="fa-solid fa-star" ></i>
              </div>
                <p class="customer-name">Nikita Kering’</p>
                <p class="customer-title">Kenyan Artist</p>
              </div>
            </div>

            <p class="testimonial-text">
              This is the best local coffee shop that offers the best of its kind, I ordered the Americano and it was superb. Why don’t you give it a try! You won’t regret.
            </p>
        </article>
        <article class="testimonial">
            <div class="customer-header">
              <img class="ellipse" src="https://c.animaapp.com/eMNn26z6/img/ellipse-1.svg" alt="Nikita Kering’" />

              <div class="customer-details">

              <div class="stars">
                <i class="fa-solid fa-star" ></i>
                <i class="fa-solid fa-star" ></i>
                <i class="fa-solid fa-star" ></i>
                <i class="fa-solid fa-star" ></i>
                <i class="fa-solid fa-star" ></i>
              </div>
                <p class="customer-name">Nikita Kering’</p>
                <p class="customer-title">Kenyan Artist</p>
              </div>
            </div>

            <p class="testimonial-text">
              This is the best local coffee shop that offers the best of its kind, I ordered the Americano and it was superb. Why don’t you give it a try! You won’t regret.
            </p>
        </article>
      </div>
    </section>
    <section class="newsletter-section">
      <div class="newsletter">
        <h2>Join And Get 15% Off</h2>
        <p>Stay Upto Date With The Latest Offers</p>
        <div class="subscribe">
          <input class="email" placeholder="Email" type="email" />
          <button class="btn">Subscribe</button>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer-content">
        <div class="footer-section">
          <h3>Bliss Cafe</h3>
        </div>
        <div class="footer-section">
          <h4>Privacy</h4>
          <ul>
            <li>Privacy Priority</li>
            <li>Protecting Information</li>
            <li>Improving Experience</li>
            <li>No Data Sharing</li>
          </ul>
        </div>
        <div class="footer-section">
          <h4>Services</h4>
          <ul>
            <li>Free wifi</li>
            <li>Specialty coffee</li>
            <li>Delicious bites</li>
            <li>Catering</li>
          </ul>
        </div>
        <div class="footer-section">
          <h4>About</h4>
          <ul>
            <li>Community Hub</li>
            <li>Great Coffee</li>
            <li>Memorable Moments</li>
            <li>Top-notch Baristas</li>
            <li>Welcoming Vibe</li>
          </ul>
        </div>
        <div class="footer-section">
          <h4>Information</h4>
          <ul>
            <li>Opening hours</li>
            <li>Payment methods</li>
            <li>Cafe location</li>
            <li>Loyalty program</li>
            <li>Dietary options</li>
          </ul>
        </div>
        <div class="footer-section">
          <h4>Social Media</h4>
          <img class="social-media-icons" src="https://c.animaapp.com/eMNn26z6/img/frame-14.svg" alt="Social Media Icons" />
        </div>
      </div>
    </footer>
  </body>
</html>
