{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'home/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'home/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'home/style.css' %}" />
  </head>
  <body>
    <div class="home-page">
      <img
        class="section"
        src="https://c.animaapp.com/eMNn26z6/img/section-1.png"
      />
      <div class="div">
        <div class="coffee">
          <div class="text-wrapper">OUR SPECIAL COFFEE</div>
          <div class="assorted-coffee">
            <div class="coffe-card">
              <img
                class="img"
                src="https://c.animaapp.com/eMNn26z6/img/unsplash-5prp-fvsi0q@2x.png"
              />
              <div class="text-wrapper-2">Americano</div>
              <div class="text-wrapper-3">Made For You</div>
              <div class="div-2">
                <div class="text-wrapper-4">Ksh. 1000</div>
                <button class="btn"><div class="order">Order</div></button>
              </div>
            </div>
            <div class="coffe-card">
              <img
                class="img"
                src="https://c.animaapp.com/eMNn26z6/img/image@2x.png"
              />
              <div class="text-wrapper-2">Macchiato</div>
              <div class="text-wrapper-3">Made For You</div>
              <div class="div-2">
                <div class="text-wrapper-4">Ksh. 1250</div>
                <button class="btn"><div class="order">Order</div></button>
              </div>
            </div>
            <div class="coffe-card">
              <img
                class="img"
                src="https://c.animaapp.com/eMNn26z6/img/image-1@2x.png"
              />
              <div class="text-wrapper-2">Latte</div>
              <div class="text-wrapper-3">Made For You</div>
              <div class="div-2">
                <div class="text-wrapper-4">Ksh. 1700</div>
                <button class="btn"><div class="order">Order</div></button>
              </div>
            </div>
            <div class="coffe-card">
              <img
                class="image"
                src="https://c.animaapp.com/eMNn26z6/img/image-1-1@2x.png"
              />
              <div class="text-wrapper-2">Mocha</div>
              <div class="text-wrapper-3">Made For You</div>
              <div class="div-2">
                <div class="text-wrapper-4">Ksh. 1380</div>
                <button class="btn"><div class="order">Order</div></button>
              </div>
            </div>
            <div class="coffe-card">
              <img
                class="img"
                src="https://c.animaapp.com/eMNn26z6/img/image-5@2x.png"
              />
              <div class="text-wrapper-2">Iced Coffee</div>
              <div class="text-wrapper-3">Made For You</div>
              <div class="div-2">
                <div class="text-wrapper-4">Ksh. 1685</div>
                <button class="btn"><div class="order">Order</div></button>
              </div>
            </div>
            <div class="coffe-card">
              <img
                class="img"
                src="https://c.animaapp.com/eMNn26z6/img/image-7@2x.png"
              />
              <div class="text-wrapper-2">Cappuccino</div>
              <div class="text-wrapper-3">Made For You</div>
              <div class="div-2">
                <div class="text-wrapper-4">Ksh. 1530</div>
                <button class="btn"><div class="order">Order</div></button>
              </div>
            </div>
          </div>
        </div>
        <div class="desert">
          <div class="text-wrapper">OUR SPECIAL DESERT</div>
          <div class="assorted-coffee">
            <div class="coffe-card">
              <img
                class="img"
                src="https://c.animaapp.com/eMNn26z6/img/image-10@2x.png"
              />
              <div class="text-wrapper-2">Espresso Choco Cheesecake</div>
              <div class="text-wrapper-3">Made For You</div>
              <div class="div-2">
                <div class="text-wrapper-4">Ksh. 2200</div>
                <button class="btn"><div class="order">Order</div></button>
              </div>
            </div>
            <div class="coffe-card">
              <img
                class="image-2"
                src="https://c.animaapp.com/eMNn26z6/img/image-11@2x.png"
              />
              <div class="text-wrapper-2">Fudgy Chocobrownies</div>
              <div class="text-wrapper-3">Made For You</div>
              <div class="div-2">
                <div class="text-wrapper-4">Ksh. 1905</div>
                <button class="btn"><div class="order">Order</div></button>
              </div>
            </div>
            <div class="coffe-card">
              <img
                class="image-3"
                src="https://c.animaapp.com/eMNn26z6/img/image-12@2x.png"
              />
              <div class="text-wrapper-2">Hazelnut Chocopancakes</div>
              <div class="text-wrapper-3">Made For You</div>
              <div class="div-2">
                <div class="text-wrapper-4">Ksh. 2100</div>
                <button class="btn"><div class="order">Order</div></button>
              </div>
            </div>
            <div class="coffe-card">
              <img
                class="image-4"
                src="https://c.animaapp.com/eMNn26z6/img/image-13@2x.png"
              />
              <div class="text-wrapper-2">Mocha Brownie Cake</div>
              <div class="text-wrapper-3">Made For You</div>
              <div class="div-2">
                <div class="text-wrapper-4">Ksh. 2050</div>
                <button class="btn"><div class="order">Order</div></button>
              </div>
            </div>
            <div class="coffe-card">
              <img
                class="image-5"
                src="https://c.animaapp.com/eMNn26z6/img/image-14@2x.png"
              />
              <div class="text-wrapper-2">Mocha Swirl Brownies</div>
              <div class="text-wrapper-3">Made For You</div>
              <div class="div-2">
                <div class="text-wrapper-4">Ksh. 1885</div>
                <button class="btn"><div class="order">Order</div></button>
              </div>
            </div>
            <div class="coffe-card">
              <img
                class="image-6"
                src="https://c.animaapp.com/eMNn26z6/img/image-15@2x.png"
              />
              <div class="text-wrapper-2">Whataburger Cinnamon Rolls</div>
              <div class="text-wrapper-3">Made For You</div>
              <div class="div-2">
                <div class="text-wrapper-4">Ksh. 2000</div>
                <button class="btn"><div class="order">Order</div></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-2">
        <div class="frame">
          <div class="frame-2">
            <p class="our-coffee-beans-are">
              Our Coffee Beans<br />
              Are Sourced <br />from The Best Farms
            </p>
            <div class="visit-our-patners-wrapper">
              <div class="text-wrapper-5">Visit Our Patners</div>
            </div>
          </div>
        </div>
        <div class="testimonials-section">
          <div class="our-happy-customers">Our Happy Customers</div>
          <div class="testimonials">
            <div class="testimonial-wrapper">
              <div class="testimonial">
                <div class="div-2">
                  <div class="customer">
                    <img
                      class="ellipse"
                      src="https://c.animaapp.com/eMNn26z6/img/ellipse-1.svg"
                    />
                    <div class="frame-3">
                      <div class="text-wrapper-6">Nikita Kering’</div>
                      <div class="text-wrapper-7">Kenyan Artist</div>
                    </div>
                  </div>
                  <img
                    class="rating"
                    src="https://c.animaapp.com/eMNn26z6/img/rating.svg"
                  />
                </div>
                <p class="this-is-the-best">
                  This is the best local coffee shop that offers the best of
                  <br />it’s kind, I ordered the Americano and it was superb.<br />Why
                  don’t you give it a try! You won’t regret.
                </p>
              </div>
            </div>
            <div class="testimonial-wrapper">
              <div class="testimonial">
                <div class="div-2">
                  <div class="customer">
                    <img
                      class="ellipse"
                      src="https://c.animaapp.com/eMNn26z6/img/ellipse-1-1.svg"
                    />
                    <div class="frame-3">
                      <div class="text-wrapper-6">Dr. Peter Ndegwa</div>
                      <div class="text-wrapper-7">C.e.o Safaricom</div>
                    </div>
                  </div>
                  <img
                    class="rating"
                    src="https://c.animaapp.com/eMNn26z6/img/rating-1.svg"
                  />
                </div>
                <p class="i-ordered-this">
                  I ordered this coffee for special occasions, but we
                  <br />ended up having it almost every day. It is smooth and<br />aromatic.
                  I’m definitely going to order again! :)
                </p>
              </div>
            </div>
            <div class="testimonial-wrapper">
              <div class="testimonial">
                <div class="div-2">
                  <div class="customer">
                    <img
                      class="ellipse"
                      src="https://c.animaapp.com/eMNn26z6/img/ellipse-1-2.svg"
                    />
                    <div class="frame-3">
                      <div class="text-wrapper-6">Jeff Koinange</div>
                      <div class="text-wrapper-7">Citizen Tv News Anchor</div>
                    </div>
                  </div>
                  <img
                    class="rating"
                    src="https://c.animaapp.com/eMNn26z6/img/rating-2.svg"
                  />
                </div>
                <p class="you-order-they-roast">
                  You order, they roast, wide selection, local delivery....<br />I
                  just can’t wait to order everything in the menu. It’s
                  <br />just absolutely stunning!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-2">
        <div class="news-letter">
          <div class="letter">
            <p class="join-and-get-off">Join And Get 15% Off</p>
            <p class="stay-upto-date-with">
              Stay Upto Date With The Latest Offers
            </p>
          </div>
          <div class="subscribe">
            <input class="email" placeholder="Email" type="email" />
            <div class="div-wrapper">
              <div class="text-wrapper-8">Subscribe</div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="frame-4">
            <div class="text-wrapper-9">Bliss Cafe</div>
            <div class="frame-5">
              <div class="text-wrapper-10">Privacy</div>
              <div class="text-wrapper-11">Privacy Priority</div>
              <div class="text-wrapper-12">Protecting Information</div>
              <div class="text-wrapper-13">Improving Experience</div>
              <div class="text-wrapper-14">No Data Sharing</div>
            </div>
            <div class="frame-6">
              <div class="text-wrapper-10">Services</div>
              <div class="text-wrapper-15">Free wifi</div>
              <div class="text-wrapper-15">Specialty coffee</div>
              <div class="text-wrapper-15">Delicious bites</div>
              <div class="text-wrapper-15">Catering</div>
            </div>
            <div class="frame-7">
              <div class="text-wrapper-10">About</div>
              <div class="text-wrapper-16">Community Hub</div>
              <div class="text-wrapper-17">Great Coffee</div>
              <div class="text-wrapper-18">Memorable Moments</div>
              <div class="text-wrapper-19">Top-notch Baristas</div>
              <div class="text-wrapper-20">Welcoming Vibe</div>
            </div>
            <div class="frame-8">
              <div class="text-wrapper-5">Information</div>
              <div class="text-wrapper-15">Opening hours</div>
              <div class="text-wrapper-21">Payment methods</div>
              <div class="text-wrapper-15">Cafe location</div>
              <div class="text-wrapper-15">Loyalty program</div>
              <div class="text-wrapper-15">Dietary options</div>
            </div>
            <div class="frame-9">
              <div class="text-wrapper-10">Social Media</div>
              <img
                class="frame-10"
                src="https://c.animaapp.com/eMNn26z6/img/frame-14.svg"
              />
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
